<a href="https://colab.research.google.com/github/NandhithaMilkuri/Batch20_1352_PDS/blob/main/Lab5_Merging_Joining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
data={
    'Name':['Ravi','Neha','Kiran','Sita'],
    'Age':[25,np.nan,30,28],
    'Marks':[85,90,np.nan,92]
    }
df=pd.DataFrame(data)
print(df)
print(df.isnull())

    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [3]:
df_dropped=df.dropna()
print(df_dropped)

   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [5]:
df_filled=df.fillna(0)
print(df_filled)

    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

In [8]:
df['Age']=df['Age'].fillna(df['Age'].mean())
df['Marks']=df['Marks'].fillna(df['Marks'].median())
print(df)

    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  Kiran  30.000000   90.0
3   Sita  28.000000   92.0

In [10]:
data={
    'ID':[1,2,2,3,4,4],
    'Name':['Ravi','Neha','Neha','Kiran','Sita','Sita'],
    'Marks':[85,90,90,78,92,92]

}
df=pd.DataFrame(data)
print(df)
df_no_duplicates=df.drop_duplicates()
print(df_no_duplicates)

   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
2   2   Neha     90
3   3  Kiran     78
4   4   Sita     92
5   4   Sita     92
   ID   Name  Marks
0   1   Ravi     85
1   2   Neha     90
3   3  Kiran     78
4   4   Sita     92

In [13]:
data={
    'ID':[1,2,3,4],
    'Marks':['85','90','78','92']
}
df=pd.DataFrame(data)
print(df)
print(df.dtypes)
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=df['Marks'].astype(float)
print(df)

   ID Marks
0   1    85
1   2    90
2   3    78
3   4    92
ID        int64
Marks    object
dtype: object
   ID  Marks
0   1   85.0
1   2   90.0
2   3   78.0
3   4   92.0

In [14]:
df['Marks']=df['Marks'].apply(lambda X:X+5)
print(df)

   ID  Marks
0   1   90.0
1   2   95.0
2   3   83.0
3   4   97.0

In [17]:
df['Marks_Normalized']=(df['Marks']-df['Marks'].min())/(df['Marks'].max()-df['Marks'].min())
print(df)

   ID  Marks  Marks_Normalized
0   1   90.0          0.500000
1   2   95.0          0.857143
2   3   83.0          0.000000
3   4   97.0          1.000000

In [16]:
import pandas as pd
Students=pd.DataFrame(
    {
        'Student_Id':[101,102,103,105],
        'Name':['Ravi','Neha','Kiran','Sita'],
    }
)
marks=pd.DataFrame(
    {
        'Student_Id':[101,102,103,104],
        'Marks':[85,90,78,88]
    }
)
merged_df=pd.merge(Students,marks,on='Student_Id',how='inner')
print(merged_df)

   Student_Id   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [21]:
inner=pd.merge(Students,marks,on='Student_Id',how='inner')
print("inner join:\n",inner)

inner join:
    Student_Id   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [22]:
left=pd.merge(Students,marks,on='Student_Id',how='left')
print("left join:\n",left)

left join:
    Student_Id   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         105   Sita    NaN

In [23]:
right=pd.merge(Students,marks,on='Student_Id',how='right')
print("right join:\n",right)

right join:
    Student_Id   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         104    NaN     88

In [26]:
outer = pd.merge(Students, marks, on='Student_Id', how='outer')
print("\nOuter Join:\n", outer)

Outer Join:
    Student_Id   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104    NaN   88.0
4         105   Sita    NaN

In [28]:
#Student Details (index = Student_ID)
students = pd.DataFrame({
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
}, index=[101, 102, 103, 104])
# Marks Data (index = Student_ID)
marks = pd.DataFrame({
'Marks': [85, 90, 78, 88]
}, index=[101, 102, 103, 105])
# Join based on index
joined_df = students.join(marks, how='outer')
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Marks
101   Ravi   85.0
102   Neha   90.0
103  Kiran   78.0
104   Sita    NaN
105    NaN   88.0

In [29]:
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
'Department': ['CSE', 'ECE', 'MECH', 'CSE']
})
marks = pd.DataFrame({
'Student_ID': [101, 102, 104, 105],
'Marks': [85, 90, 92, 88]
})
# Merge student details with marks
final_df = pd.merge(students, marks, on='Student_ID',
how='outer')
print("Final Student Records:")
print(final_df)

Final Student Records:
   Student_ID   Name Department  Marks
0         101   Ravi        CSE   85.0
1         102   Neha        ECE   90.0
2         103  Kiran       MECH    NaN
3         104   Sita        CSE   92.0
4         105    NaN        NaN   88.0